.tableContainer {
  padding: 40px;
  .chartContainer {
    display: flex;
    justify-content: center;
  }

  .title {
    text-align: center;
    margin-bottom: 50px;
  }

  .tableTitle {
    margin-bottom: 20px;
  }

  .formResultsTable {
    margin-bottom: 50px;
  }

  table {
    margin-bottom: 20px;
  }

  button {
    margin-right: 10px;
  }
  .green {
    background-color: rgb(3, 180, 3);
  }
}


@media only screen and (max-width: 768px) {
  .tableContainer{
    padding:2px;
  }
}