.generalFormContainer {
  width: 300px;

  button {
    margin-bottom: 20px;
  }

  .generalInfoTitle {
    margin-bottom: 20px;
  }

  .ant-space {
    width: 100%;
  }

  .ant-select {
    width: 100%;
  }

  .error-message {
    color: Red;
  }
}
