.formContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;

  .ant-space {
    width: 100%;

    .ant-select {
      width: 100%;
    }

    .ant-divider {
      font-size: 22px;
    }

    .ant-input {
      max-width: 100%;
      height: auto;
    }
  }

  .error-message {
    color: Red;
  }

  .title {
    text-align: center;
    margin-bottom: 10px;
  }

  .infoTitle {
    margin-bottom: 10px;
  }
  .gutter-row > div {
    margin-top: 20px;
  }
}
